* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.kart {
    width: 350px;
    height: 400px;
    position: relative;
    margin: 20px;
    perspective: 800px;
}

.kart:hover .arka {
    transform: rotateY(0);
}

.kart:hover .on {
    transform: rotateY(-180deg);
}

.kart .on,
.kart .arka {
    border: 1px solid #ddd;
    border-radius: 15px;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
}

.kart .on {
    background-color: aqua;
}

.kart .on img {
    width: 200px;
}

.kart .on p {
    text-align: center;
}

.kart .arka {
    background-color: yellow;
    transform: rotateY(180deg);
}

.kart .arka img {
    width: 200px;
}

.kart .arka p {
    text-align: center;
}