* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("../img/bday.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

body>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

body>div>div:nth-child(2) {
    margin: 20px 0;
}

.kart {
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: relative;
    perspective: 800px;
}

.kart:hover .arka {
    transform: rotateY(0);
}

.kart:hover .on {
    transform: rotateY(-180deg);
}

.kart .on,
.kart .arka {
    border: 1px solid #ddd;
    border-radius: 15px;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
}

.kart .on {
    background-color: aqua;
}

.kart .on img {
    width: 200px;
}

.kart .on p {
    text-align: center;
}

.kart .arka {
    background-color: mediumpurple;
    transform: rotateY(180deg);
}

.kart .arka img {
    width: 200px;
}

.kart .arka p {
    text-align: center;
}

.video {
    position: relative;
}

.carousel-item video {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
}

.carousel-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.fotolar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foto {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.foto p {
    font-size: 18px;
    color: white
}

.foto img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}